{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'healthandfitness/form.css' %}">
         <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pangolin"-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    </head>
    <h2>Share your Workout</h2>
    <div class = "container">
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
    <div class = "center">
        <a href = {% url "homepage" %}>
           Back to Homepage
        </a>
    </div>
{% endblock %}