{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'healthandfitness/post.css' %}">
     <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pangolin"-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Posts</title>
</head>
    <body>
        <div class = "container">
            <h1> Stories from Our Community </h1>
            <p> Starting your fitness journey requires a great deal of motivation and inspiration. But what do we do? How do we start? It's easy to get confused with the variety of options you can pursue in order to reach your fitness goal. Luckily, you're not the only one! Others share their inspiring stories along fitness tips and tricks so that you don't feel alone in this daunting journey! </p>
            <div class = "center">
                <a href = "{% url "new_post" %}" id = "title">
                   Share your fitness journey!
                </a>
            </div>
            <br>
            {% for post in posts %}
                <div class = "row">
                    <h2><a href="{% url 'post_detail' pk=post.pk %}" id = "post-title">{{ post.title }}</a></h2>
                    <p> Posted by {{ post.author }} on {{ post.published_date }} </p>
                </div>
            {% endfor %}

            <div class = "center">
                <a href = {% url "homepage" %}>
                   Back to Homepage
                </a>
            </div>
        </div>
    </body>


{% endblock %}
